
.fondo {
    margin: 0;
    width: 90vw;
}

.form {
    margin: 0 auto;
    width: 600px;
    height: 800px;
}
.form form {
    padding: 50px 50px;
    margin: 50px auto;
    width: 300px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    border: 2px solid black;
}
.cajita, .cajita_screen {
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: 2rem;
    border: none;
    border: 2px solid black;
    box-shadow: 13px 11px 5px -3px rgba(0,0,0,0.1);
    border-radius: 10px;
}
.cajita:active {
    background-color: rgb(28, 114, 174);
}


.screen {
    grid-column: 1/5;
    height: 100px;
}


.suma {
    grid-column: 4/5;
    grid-row: 3/5;
}

